<nav>
  <div>
    Tonchanoy
  </div>
  <div>
    <a href="/">อัตราค่าบริการ</a>
    <a href="/booking">จองคิว</a>
    <a href="/all_orders">ออเด้อทั้งหมด</a>
    <a href="#">เข้าสู่ระบบ</a>
  </div>
</nav>