<!-- อ้างอิงไฟล์ CSS -->
<link rel="stylesheet" href="/css/nav.css">
<nav>
  <div class="brand">
    Tonchanoy
  </div>
  <div class="links">
    <a href="/">อัตราค่าบริการ</a>
    <a href="/booking">จองคิว</a>
    <a href="/all_orders">ออเดอร์ทั้งหมด</a>
    <!-- <a href="/auth/login">เข้าสู่ระบบ</a> -->
  </div>
</nav>
