@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=Thasadith:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* กำหนดพื้นหลังให้กับทั้งหน้า */
body {
    font-family: 'Krub', sans-serif;
    background: linear-gradient(135deg, #BFF5DC, #C2E9FB, #B5A8E9);
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #2c3e50;
}

/* ตั้งค่าให้ส่วนเนื้อหาหลักมีพื้นที่ว่างรอบๆ */
.container {
    padding: 20px;
    max-width: 100%; /* กว้างสุด */
    width: 100%;
    text-align: center;
}

/* กำหนดสไตล์ของหัวข้อ */
h1 {
    color: #000000;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

/* ตารางแสดงข้อมูล */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px; /* ขอบมน */
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* เงา */
}

/* สไตล์ของแต่ละแถวในตาราง */
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 16px;
    text-align: center;
}

/* สไตล์ของหัวตาราง */
th {
    background-color: #0da099;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* การเปลี่ยนแปลงพื้นหลังแถวคู่ในตาราง */
tr:nth-child(even) {
    background: #f0fdfa;
}

/* เพิ่มการไฮไลต์แถวในตารางเมื่อชี้เมาส์ไป */
tr:hover {
    background: #e0f7fa;
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* สไตล์ของปุ่ม */
button {
    background-color: #00695c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* เอฟเฟกต์ Hover สำหรับปุ่ม */
button:hover {
    background-color: #87c2b8;
    transform: scale(1.05);
}

/* สไตล์ของ Input ป้อนข้อมูล */
td input[type="number"] {
    padding: 8px;
    width: 100px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
}

td input[type="number"]:focus {
    border-color: #558a9b;
    outline: none;
}

/* สไตล์การแสดงผลในกรณีที่ไม่มีข้อมูล */
.no-data {
    text-align: center;
    font-size: 18px;
    color: #777;
}
