<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ออเดอร์ทั้งหมด</title>
</head>
<body>
    <%- include('./component/nav.ejs') %>
    <section>
        <div>
            <p>orders จ้าาา</p>
        </div>

    </section>
</body>
</html>